*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
.dot {
    width: 10px;
    height: 10px;
    background-color: #00FF00;
    border-radius: 50%;
    margin-left: 8px;
}

@media (max-width:900px) {
    .hidden{
        display: none; 
     }
}